# user data
frontend/.cache/*
!frontend/.cache/.gitkeep
*.db

# Executables / Builds
zetaforge/executables
!zetaforge/executables/README.md
frontend/server2
!frontend/server2/entrypoint.py

# Node and npm related
node_modules/
npm-debug.log

# Electron
dist/
release/
dist-electron/

*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
.zed/
*.swp
*.swo
*.sublime*

# Python related
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
*.venv/*
*.virtualenv/
backend/db.sqlite3 # If you use SQLite
venv/
build/
# Environment variables
# see https://vitejs.dev/guide/env-and-mode
*.local

# Miscellaneous
*.bak
*.tmp
*.swp
canny4/
