@mixin light {
  --beHeader: #e8e8e8;
  --bePromptInputText: #000000;
  --bePromptInputBackground: #ffffff;
  --beCodeViewerBackground: #f8f8f8;
  --beCodeEditorBackground: #ffffff;
  --bePromptPlaceholderText: #bebebe;
  --bePrompt: #E0E0E0;
  --bePromptFileHeader: #888888; //TODO wrong color
  --beViewOnlyTag: #959595;
}

@mixin dark {
  --beHeader: #141414;
  --bePromptInputText: #ffffff;
  --bePromptInputBackground: #080808;
  --beCodeViewerBackground: #1e1e1e;
  --beCodeEditorBackground: #080808;
  --bePromptPlaceholderText: #989898;
  --bePrompt: #393939;
  --bePromptFileHeader: #888888;
  --beViewOnlyTag: #959595;
}

.editor-block {
  position: relative;
  background-color: var(--cds-background) !important;
  border: 1px solid var(--cds-border-subtle);
  right: 0;
}

.editor-block.maximized {
  top: 47px;
  height: calc(100vh - 47px);
  width: 100%;
}

.editor-block.minimized {
  top: 50px;
  height: calc(100vh - 55px);
  width: 50%
}

.editor-block {
  position: relative;
  background-color: var(--cds-background) !important;
  border: 1px solid var(--cds-border-subtle);
  right: 0;
}

.block-editor-header {
  @apply flex shrink-0 flex-row items-center justify-between;
  background-color: var(--beHeader);
}

.block-editor-prompt-input {
  @apply min-h-24 w-full rounded-lg p-2 text-base placeholder-[var(--bePromptPlaceholderText)] resize-none;
  background-color: var(--bePromptInputBackground);
  border-color: var(--beCodeViewerBackground);
  color: var(--bePromptInputText);
}

.cm-theme .cm-content {
  font-size: 16px;
  font-family: "Menlo", "Consolas", "Courier New", monospace;
}

.prompt-spinner {
  position: relative;
  bottom: -22px;
  right: -22px;
  transform: scale(0.35);
  transform-origin: center;
  color: rgba(105, 23, 176, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover,
.icon-button:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.prompt-file-header {
  color: var(--bePromptFileHeader);
}

.prompt {
  background-color: var(--bePrompt);
}

.prompt-active {
  border-color: var(--ztn-purple-10);
}

.view-only-tag {
  color: var(--beViewOnlyTag);
}
