.ztn--toggle-container {
    .cds--toggle {
        width: 48px;
        height: 25px;
    }
}

.ztn--side-nav {
    z-index: 9000;
    margin-top: 0 !important;
}

.ztn--dropdown-menu-btn {
    padding: 0.875rem 0.25rem;
    margin: 0 0.25rem;
    svg {
        margin-left: 0 !important;
    }
}