:root {
  --border-color: #cacaca;
  --dfNodeBoxShadowColor: rgb(114, 114, 114);
  /* --background-color: #ffffff; */
  --background-color: rgb(177, 177, 177);
  /* --dfNodeBackgroundColor: white; */
  --background-box-title: #f7f7f7;
  --title-background-color: rgba(107, 43, 224, 1);
  /* harmony green: rgb(70, 224, 43) */
  --title-height: 35px;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  font-family: 'Roboto', sans-serif;
}

header {
  height: 66px;
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
}
header h2 {
  margin: 0px;
  line-height: 66px;
}
header a {
  color: black;
}
.them-edit-link {
  position: absolute;
  top: 10px;
  right: 100px;
  color: black;
  font-size: 40px;
}
.them-edit-link a {
  text-decoration: none;
}

.github-link{
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
}

.wrapper {
  width: 100%;
  height: calc(100vh - 67px);
  display: flex;
}

.col {
  overflow: auto;
  padding-top: 40px;
  /* padding-top: 12px; */
  max-width: 300px;
  height: 100%;
  border-right: 1px solid var(--border-color);
}

.drag-drawflow {
  /* line-height: 50px; */
  line-height: 40px;
  border: 1px solid var(--border-color);
  padding-left: 20px;
  border-radius: 10px;
  cursor: move;
  user-select: none;
  padding-bottom: 3px;
}
.menu {
  position: absolute;
  height: 40px;
  display: block;
  background: white;
  width: 100%;
}
.menu ul {
  padding: 0px;
  margin: 0px;
  line-height: 40px;
}

.menu ul li {
  display: inline-block;
margin-left: 0px;

/* border-right: 1px solid var(--border-color); */
padding-right: 10px;
line-height: 40px;
cursor: pointer;

border-right: 3px solid var(--border-color);
border-top: 3px solid var(--border-color);
border-left: 3px solid var(--border-color);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
/* margin-right 0px; */

border-color: rgba(105, 23, 176, 1);


/* background-color: blue; */

}

.menu ul li.selected {
  font-weight: bold;
}

.btn-export {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid #0e5ba3;
  background: #a367b2;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}

.btn-clear {
  float: right;
  position: absolute;
  top: 10px;
  right: 85px;
  color: white;
  font-weight: bold;
  border: 1px solid #96015b;
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}


.btn-to-blocks {
  float: right;
  position: absolute;
  top: 10px;
  right: 175px;
  color: white;
  font-weight: bold;
  border: 1px solid #96015b;
  background: #e3195a;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
}




.swal-wide{
    width:80% !important;
}

.swal-modal .swal-text {
  text-align: left !important;
}

.btn-lock {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 140px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
  cursor: pointer;
}

.bar-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px 5px 0px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid var(--border-color);
  z-index: 5;
}
.bar-zoom svg {
  cursor: pointer;
  /* padding-left: 3px; */
  margin-left: 10px;
  
}
.bar-zoom svg:nth-child(1) {
  /* padding-left: 3px; */
  margin-left: 10px;
  
}

#drawflow {
  position: relative;
  width: calc(100vw - 301px);
  height: calc(100% - 50px);
  top: 40px;
  /* background: var(--background-color); */
  background-size: 25px 25px;
  /* background-image:
   linear-gradient(to right, #f1f1f1 1px, transparent 1px),
   linear-gradient(to bottom, #f1f1f1 1px, transparent 1px); */
}

@media only screen and (max-width: 768px) {
  .col {
    width: 50px;
  }
  .col .drag-drawflow span {
    display:none;
  }
  #drawflow {
    width: calc(100vw - 51px);
  }
}



/* Editing Drawflow */



/* .drawflow .drawflow-node.selected  {
  background: white;
  border: 1px solid #a367b2;
  -webkit-box-shadow: 0 2px 20px 2px #a367b2;
  box-shadow: 0 2px 20px 2px #a367b2;
} */





/* .drawflow .connection .main-path {
  stroke: #a367b2;
  stroke-width: 7px;
} */

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
  /* position: relative; */

  /* Size of the cicle */
  height: 20px;
  width: 20px;
  /* height: 15px;
  width: 15px; */
  /* border: 2px solid var(--border-color); */
  /* Distance between the circles */
  margin-top: 10px;
  margin-bottom: 10px;
  
}



/* .drawflow > .drawflow-delete {
  border: 2px solid #43b993;
  background: white;
  color: #43b993;
  -webkit-box-shadow: 0 2px 20px 2px #43b993;
  box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
  border: 2px solid #a367b2;
  background: white;
  color: #a367b2;
  -webkit-box-shadow: 0 2px 20px 2px #a367b2;
  box-shadow: 0 2px 20px 2px #a367b2;
} */

























.type-icon {
  position: relative;
  /* position: relative;
  min-width: 100px;
  display: inline-block;

  white-space: nowrap; */
  margin-left: 25px;
  cursor: auto;
  /* right: 20px; */
}

.variable-text {
  position: relative;
  /* min-width: 100px; */
  cursor: auto;
  display: inline-block;
  white-space: nowrap;
  margin-left: 50px;
  top: -28px;
}

.variable-text-output {
  position: relative;
  cursor: auto;
  /* min-width: 100px; */
  display: inline-block;
  white-space: nowrap;
  /* margin-left: 50px; */
  top: -28px;
}



.drawflow .drawflow-node {
  /* background: var(--background-color); */
  /* background: var(--dfNodeBackgroundColor); */
  /* border: 1px solid var(--border-color); */
  /* -webkit-box-shadow: 0 2px 15px 2px var(--border-color); */
  /* box-shadow: 0 2px 15px 2px var(--border-color); */
  /* box-shadow: 0 2px 15px 2px var(--dfNodeBoxShadowColor); */
  padding: 0px;

  /* Needs to add this when we make the circles starts under the title, about the same 50px as the top: 50px*/
  padding-bottom: var(--title-height);
  /* padding-bottom: 50px; */
  
  /* Width of the node */
  /* min-width: 200px; */
}


/* .drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
  background: #a367b2;
} */

.drawflow .drawflow-node .output {
  right: 5px;
  /* Makes the circle start under the title which have a 50px height */
  /* top: 50px; */
  top: var(--title-height);
}

.drawflow .drawflow-node .input {
  left: -10px;
  /* background: white; */
  /* Makes the circle start under the title which have a 50px height */
  /* top: 50px;   */
  top: var(--title-height);
}

/* .drawflow .drawflow-node.selected .title-box-controller {
  color: #22598c;
  border-bottom: 1px solid #a367b2;
}

.drawflow .drawflow-node.selected .title-box-view {
  color: #22598c;
  border-bottom: 1px solid #a367b2;
}

.drawflow .drawflow-node.selected .title-box {
  color: #22598c;
  border-bottom: 1px solid #a367b2;
} */


.drawflow-node .title-box {
  /* height: 50px; */
  height: var(--title-height);
  /* line-height: 50px; */
  line-height: var(--title-height);
  
  /* color: rgba(107, 43, 224, 1); */
  color: white;
  background: var(--title-background-color);
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0px 0px;
  padding-left: 10px;
}

.drawflow-node .title-box-view {
  height: 50px;
  line-height: 50px;
  background: lightyellow;
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0px 0px;
  padding-left: 10px;
}

.drawflow-node .title-box-controller {
  height: 50px;
  line-height: 50px;
  background: lightblue;
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0px 0px;
  padding-left: 10px;
}

.drawflow .title-box svg {
  position: initial;
}
.drawflow-node .box {
  /* padding: 10px 20px 20px 20px; */
  padding: 10px 20px 15px 20px;
  font-size: 14px;
  color: #555555;

}
.drawflow-node .box p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.drawflow-node.welcome {
  width: 250px;
}

.drawflow-node.slack .title-box {
  border-radius: 4px;
}

.drawflow-node input, .drawflow-node select, .drawflow-node textarea {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  width: 158px;
  color: #555555;
}

.drawflow-node textarea {
  height: 100px;
}


.drawflow-node.personalized {
  background: red;
  height: 200px;
  text-align: center;
  color: white;
}
.drawflow-node.personalized .input {
  background: yellow;
}
.drawflow-node.personalized .output {
  background: green;
}

.drawflow-node.personalized.selected {
  background: blue;
}

.drawflow .connection .point {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: white;
  
}

/* .drawflow .connection .point.selected, .drawflow .connection .point:hover {
  fill: #a367b2;
} */


/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);

}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor:pointer;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}


.view-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 20px;
  display: node;
  height: 20px;
  cursor: pointer; 
  align-self: center; 
  margin-right: 20px;
}
.view-btn:hover .mySvg {
  stroke: lightgreen;
}
/* #view-btn:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
} */
