.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery a {
  margin: 10px;
}

.gallery img {
  /* width: 150px; */
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

#slider-range {
  width: 30%;
}

#code_editor {
  width: 93vw;
  height: 83vh;
  margin-left: 2vw;
  border: 1px solid grey;
  position: relative;
}

#prompt {
  width: 85%;
  height: 150px;
  resize: none;
}

.modal-content {
  margin: 0 auto;
}

pre {
  overflow-y: scroll;
  width: 80%;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}


#view_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  background-color: white;
  z-index: 10;
  cursor: pointer;
  overflow: auto;
}

#code_overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
  cursor: pointer;
  overflow: auto;
}

#history_overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
  cursor: pointer;
  overflow: auto;
}

.history-overlay-content {
  position: relative;
  width: 90%;
  text-align: left;
  padding-left: 3%;
  padding-top: 20px;
}

.history-overlay-local-content {
  position: relative;
  width: 90%;
  height: 90vh;
  font-size: 18px;
  text-align: left;
  color: black;
  padding-left: 3%;
  padding-top: 20px;
}

.history-overlay-local-content pre {
  white-space: pre-wrap;   /* Wraps the text in <pre> */
  word-break: break-all;  /* Breaks long words */
  font-family: Arial, sans-serif; /* Use a different font */
  max-width: 100%;  /* Ensures it doesn't overflow its container */
}


.view_overlay-content {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 20px;
}

.code-overlay-content {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 20px;
}

#log_overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-right: 50px;
  background-color: white;
  z-index: 10;
  cursor: pointer;
  overflow: auto;
}

.log-overlay-content {
  position: relative;
  width: 98%;
  text-align: left;
  padding: 3%;
}

.closebtn {
  position: fixed;
  top: 0px;
  right: 30px;
  font-size: 60px;
  border-color: yellow;
  color: rgba(105, 23, 176, 1);
  text-decoration: none;
  z-index: 11;
}


#jsonDisplay {
  text-align: left;
  white-space: pre;
}

.loader {
  position: relative;
  width: 85px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6a2be0 50px, transparent 0),
    linear-gradient(#6a2be0 50px, transparent 0),
    linear-gradient(#6a2be0 50px, transparent 0),
    linear-gradient(#6a2be0 50px, transparent 0),
    linear-gradient(#6a2be0 50px, transparent 0),
    linear-gradient(#6a2be0 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}

@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }

  16% {
    background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px
  }

  33% {
    background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px
  }

  50% {
    background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px
  }

  66% {
    background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px
  }

  83% {
    background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px
  }

  100% {
    background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px
  }
}

.button-container {
  padding-top: 5px;
  float: right;
  position: absolute;
  top: 10px;
  right: 85px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.button_z {
  display: inline-block;
  outline: 0;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: rgba(105, 23, 176, 1);
  color: white;
  padding: 0 20px;
}

.button_z:hover {
  background-color: rgba(107, 43, 224, 1);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button_z .fas {
  color: white;
}