@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';

@use './color-tokens.scss';
@use './font.scss';
@import '@carbon/styles/css/styles.css';

@import './beautiful.css';
@import './drawflow.css';
@import './theme_menus.css';
@import './theme.css';
@import './theme2_menus.css';
@import './theme2.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: var(--cds-background) !important;
}
:root {
	@include theme.theme();
	background-color: var(--cds-background) !important;
}

.cds--g10 {
	@include theme.theme(themes.$g10);
	@include color-tokens.ztn-colors-g10;
}

.cds--g100 {
	@include theme.theme(themes.$g100);
	@include color-tokens.ztn-colors-g100;
}

[data-carbon-theme='g10'] {
	@include theme.theme(themes.$g10);
}

[data-carbon-theme='g100'] {
	@include theme.theme(themes.$g100);
}

[data-carbon-theme='g100'] {
	.cds--btn--primary {
		background-color: red !important;
	}
}

.theme-mode-transition * {
	transition: all 400ms cubic-bezier(0.2, 0.2, 0.38, 0.9);
}
