# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Environment variables
.env

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build outputs
dist/
build/
out/
*.tgz

# npm package lock file
package-lock.json

# Yarn lock file
yarn.lock

# Coverage reports
coverage/

# Optional: ignore tests and demo scripts
test/
examples/
